p {
  font-family: roboto;
}

.logo-youtube {
  width: 30px;
  margin: 90px 0px 0px 0px;
}

.video-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 300px;
  margin-top: 8px;
  margin-bottom: 2px;
  line-height: 24px;
}

.content-text {
  font-size: 15px;
  margin: 0px 0px 22px 0px;
  font-weight: normal;
  color: rgb(96, 96, 96);
  text-align: left;
  width: 300px;
  line-height: 23px;
}

.apple-logo {
  width: 30px;
  margin: 50px 0px 2px 0px;
}

.red-paragraph {
  background-color: #e34140;
  color: white;
  border: none;
  font-size: 14px;
  text-align: center;
  margin: 13px 0px 16px 0px;
  padding: 18px;
  transition: all 0.15s;
}

.shop-now {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-left: 12px;
}

.shop-now:hover {
  text-decoration: underline;
}
